dist/
examples/
libs/

# Python
*.pyc
__pycache__/
*.pyo
*.pyd
.Python
*.so
*.pyc
llm/*
.env
.env.development
.env.production
database/
analysis/downloads/
node_modules/
analysis/node_modules/
Backend/analysis/node_modules/
Backend/analysis/downloads/
Backend/agent/downloads/
Backend/agent/database/
